*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
    font-family: 'Noto Sans', sans-serif;
}

#add-photo{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.delete-btn{
    border: 1px solid #EB5757;
    box-sizing: border-box;
    border-radius: 38px;
    color:#EB5757;
}

.delete-btn:hover{
    background: #EB5757;
    color: #fff;
}

/* .img-overlay:hover{
    background: rgba(0, 0, 0, 0.38);
    border-radius: 24px;
    opacity: 0.25;
    z-index: -1;
} */


.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    transition: .5s ease;
    opacity:0;
    text-align: center;
    height: 100%;
    width: 100%;
  }

.overlay:hover{
    opacity: 1;
    background: rgba(0, 0, 0, 0.25); /* Black see-through */
    height: 100%;
    width: 100%;
    border-radius: 24px;
    padding: 0;
}